@primaryColor: #3498db;
@secondaryColor: #e74c3c;
@tertiaryColor: #f9c922;
@easing: linear;

.loader {
  display: inline-flex;
  align-items: center;

  @-webkit-keyframes spin {
    0%   {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @keyframes spin {
    0%   {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  .spinner {
    margin: 8px;
  }

  .loader-message {
    word-wrap: break-word;
    word-break: break-all;
  }

  * {
    box-sizing: border-box;
  }

  .l1 {
    display: block;
    position: relative;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: @primaryColor;
    border-bottom-color: @primaryColor;
    -webkit-animation: spin 2s @easing infinite;
    animation: spin 2s @easing infinite;
  }

  .l2 {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: @secondaryColor;
    border-bottom-color: @secondaryColor;
    -webkit-animation: spin 3s @easing infinite;
    animation: spin 3s @easing infinite;
  }

  .l3 {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: @tertiaryColor;
    border-bottom-color: @tertiaryColor;
    -webkit-animation: spin 1.5s @easing infinite;
    animation: spin 1.5s @easing infinite;
  }
}
