.react-tree-component {
  .tree-level-0 > .tree-header {
    background-color: aliceblue;
    border-bottom: 1px solid #2e6da4;

    .tree-label {
      font-weight: bold;
    }
  }

  .tree-header {
    border-bottom: 1px solid whitesmoke;
    padding: 2px 4px;

    &:hover {
      background-color: #c6e3ec;
      border-bottom: 1px solid #81a0b3;
    }

    &.selected {
      background-color: #fbffb8;
      border-bottom: 1px solid #d9dd9e;

      &:hover {
        background-color: #c6e3ec;
        border-bottom: 1px solid #81a0b3;
      }
    }
  }

  margin-top: 16px;
  margin-bottom: 16px;
};
