.react-tree-component {
  text-align: left;

  .tree-children {
    margin-left: 1em;

    display: none;
  }

  .tree-label {
    margin-left: 4px;
  }

  .tree-header {
    .tree-select-indicator:after {
      content: '\2610';
    }

    &.selected .tree-select-indicator:after {
      content: '\25A3';
    }
  }

  .tree-selected {
    margin-left: 8px;

    &:after {
      content: '\2714';
    }
  }

  .indicator-arrow {
    display: inline-block;
    transition: all 100ms linear;

    &:after {
      content: '\25B6';
    }
  }

  .expanded {
    > .tree-header > .indicator-arrow {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
    }

    > .tree-children {
      display: block;
    }
  }
}
